---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Preguntas del Proyecto.">
    <main class="flex items-center h-[89vh] text-SpringWood">
        <div class="absolute h-[89vh] -z-10 w-full bg-Grafito">
            <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]">
            </div>
        </div>
        
        <section class="mx-5 sm:mx-auto sm:max-w-5xl">
            <div transition:name="proyecto titulo" class="mb-2 sm:mb-4">
                <h1 class="text-3xl font-bold mb-1 sm:text-5xl">Preguntas del Proyecto.</h1>
                <h2 class="text-xl text-TextOpacity font-bold sm:text-3xl">Vocación Enigma.</h2>
            </div>
            <section class="flex flex-col items-center gap-5 sm:gap-10 sm:flex-row mb-3 sm:mb-5">
                <div class="mb-3">
                    <p class="text-base font-medium sm:text-lg">
                        ¿Te encuentras en la encrucijada de elegir tu futuro académico y profesional? ¡No estás solo! En Vocación Enigma, estamos aquí para ayudarte a navegar por este emocionante viaje de autodescubrimiento y toma de decisiones.
                    </p>
                </div>
            </section>
            <div class="flex flex-row justify-center w-fit gap-8 mb-2 sm:flex-col sm:gap-1 sm:mb-5">
                <h3 class="text-xl text-TextOpacity font-bold mb-4 sm:text-2xl">¿Qué propuestas y beneficios presentamos?</h3>
                <ul class="list-disc px-5">
                    <li class="text-base font-medium pb-2 sm:text-lg">
                        <p class="text-SpringWood"><strong>Desarrollo continuo de la plataforma:</strong> Proponemos realizar actualizaciones periódicas de "Vocación Enigma", incorporando nuevas pruebas de vocación, expandiendo la base de datos de carreras y áreas de estudio, y mejorando la experiencia del usuario con características innovadoras.</p>
                    </li>
                    <li class="text-base font-medium sm:text-lg">
                        <p class="text-SpringWood"><strong>Precisión y relevancia:</strong> Las actualizaciones continuas garantizarán que "Vocación Enigma" siga siendo precisa y relevante, proporcionando a los usuarios información actualizada sobre carreras y áreas de estudio.</p>
                    </li>
                </ul>
            </div>
            <div class="flex flex-row justify-center w-fit gap-8 sm:flex-col sm:gap-1 sm:mb-7">
                <h3 class="text-xl text-TextOpacity font-bold mb-4 sm:text-2xl">¿A quién va dirigido?</h3>
                <p class="text-base font-medium pb-2 sm:text-lg">
                    Vocación Enigma está diseñado para estudiantes de nivel medio superior de la Universida Autónoma de Guerrero que esté en busca de orientación vocacional. Ya sea que estés explorando tus opciones universitarias o considerando un cambio de carrera, nuestra plataforma está aquí para guiarte en cada paso del camino.
                </p>
            </div>
        </section>
    </main>
</Layout>